name: Generate Pacman Contribution Graph

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # roda todo dia

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Pacman graph
        uses: platane/pacman-contribution-graph@v2
        with:
          github_user_name: adudasena
          output_path: dist/

      - name: Deploy to output branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: output
          publish_dir: dist
